<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima mundial</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />

  </head>
  <body>
    <form method="POST"> 
        {% csrf_token %}
        <input type="text" placeholder="Ciudad" name="city" />
        <button type="submit">Enter</button>

    </form> 
    <h1>{{description}}</h1>
    <h1>{{temp}}°C</h1>
    <h1>{{temp_farenheit}}°F</h1>
    <h1>{{day}}</h1>
    <h1>{{city}}</h1>
    <h1>{{humidity}}%</h1>
    <h1>{{pressure}}</h1>
    <h1>{{fecha}}</h1>

    <img src="https://api.openweathermap.org/img/w/{{icon}}.png" width="100px" />
    
    <table>
      <thead>
        <tr>
          <th>Fecha y hora</th>
          <th>Descripción</th>
          <th>Temperatura (°C)</th>
          <th>Temperatura (°F)</th>
          <th>Icono</th>
        </tr>
      </thead>
      <tbody>
        {% for day in data_clima %}
          <tr>
            <td>{{ day.fecha }}</td>
            <td>{{ day.description }}</td>
            <td>{{ day.temp }}°C</td>
            <td>{{ day.temp_farenheit }}°F</td>
            <td><img src="https://api.openweathermap.org/img/w/{{ day.icon }}.png" width="50px"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>