{% extends "base.html" %}

{% block content %}
<div id="contact" class="flex w-full min-h-screen justify-center items-center p-8 md:p-0">
  <div class="flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 w-full max-w-4xl p-8 sm:p-12 rounded-xl shadow-lg over flow-hidden">
    <div class="flex flex-col justify-between gap-4 md:justify-start md:gap-8">
      <div class="flex flex-col md:gap-6">
        <h1 class="font-bold text-4xl tracking-wide">
          Contact Us
        </h1>
        <p class="pt-2 text-cyan-100 text-sm"> 
        Inquiry form. Do not hesitate to contact us
        </p>
      </div>
      <div class="flex flex-col">
        <div class="inline-flex space-x-2 items-center">
          <ion-icon name="call" 
          class="text-blue-400 text-xl">
          </ion-icon>
          <span>+(123) 456-789-013</span>
        </div>
      </div>
      <div class="inline-flex space-x-2 items-center">
          <ion-icon name="mail" 
          class="text-blue-400 text-xl">
          </ion-icon>
          <span>contact@worldweather.com</span>
        </div>
        <div class="inline-flex space-x-2 items-center">
          <ion-icon name="location" 
          class="text-blue-400 text-xl">
          </ion-icon>
          <span>California, United State</span>
        </div>
      <div class="flex space-x-4 text-lg items-center">
          <a href="#">
            <img src="https://img.icons8.com/windows/24/null/facebook-f--v1.png"/></a>
            <a href="#">
              <img src="https://img.icons8.com/windows/32/null/instagram-new.png"/></a>
            <a href="#">
              <img src="https://img.icons8.com/windows/32/null/tiktok.png"/></a>
    </div>
    </div>
      <div class="relative">
        <div class="absolute w-40 h-40 bg-teal-400 rounded-full -right-28 -top-28"></div> {#bola de fondo superior #}
        <div class="absolute w-40 h-40 bg-teal-400 rounded-full -left-28 -bottom-28"></div> {#bola de fondo inferior izq #} 
        <div class="relative a-10 bg-black rounded-xl shadow-lg p-8 text-gray-600 md:w-80">
          <form action="" class="flex flex-col space-y-4">
            <div>
              <label for="" class="text-sm text-blue-400">Full Name</label>
            </div>
            <div>
              <input type="text" placeholder="First and last name" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"></input>
            </div>
            <div>
              <label for="" class="text-sm text-blue-400">Mail</label>
            </div>
            <div>
              <input type="email" placeholder="Email Address" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"></input>
            </div>
            <div>
              <label for="" class="text-sm text-blue-400">Message</label>
            </div>
            <div>
              <textarea placeholder="Description" row="4" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-300"></textarea>
            </div>
            <button class="inline-block self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg px-6 py-2 uppercase text-sm">Send Message</button>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
