{% extends "base.html" %}

{% block content %}

<div class="flex flex-col" style="padding-top: 25px;padding-bottom: 15rem;padding-left: 15rem;padding-right: 15rem;">
  <div class="flex flex-row justify-center items-center p-24">
    <form method="POST">
      {% csrf_token %} 
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="flex flex-row justify-center">
          <div class="inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input type="search" id="default-search" style="width: 30rem;" class="pt-32 block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search city..." required>
          <button type="submit" style="padding: 10px;" class="text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>
  </div>
  {#block to title and subtitle#}
  <div class="relative top-full" style="padding-top: 2rem;border-radius: 1rem;background: linear-gradient(180deg, rgba(33,79,109,1) 0%, rgba(8,35,61,1) 100%);padding: 2rem;">
    <div class="flex flex-col" style="padding-bottom: 1rem;">
      <h2 class="text-white" style="font-size: 20px; font-weight: 600;">Meteorologia Actual</h2>
      <span class="text-white" style="font-size: 13px; font-weight: 300;">{{fecha}}</span>
    </div>
    {# block to img and temp °C + Detail and Sensacion termica#}
    <div class="flex flex-row">
      <img src="https://api.openweathermap.org/img/w/{{icon}}.png" width="100px"/>
      <h1 style="font-size: 4rem; padding-right: 4rem;" class="text-white" >{{temp}}°C</h1>
      <div class="flex flex-col">
        <h2 class="text-white font-medium text-base" style="font-size: 20px; font-weight: 600;">{{description}}</h2>
        <h2 class="text-white font-medium text-base" style="font-size: 16px; font-weight: 400;">Sensacion térmica °F</h2>
      </div>
    </div>
    <div>
      <h1 class="text-white font-medium text-base" style="font-size: 16px; font-weight: 400;">El mínimo alcanzará los</h1>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col">
          <h1 class="text-white">Calidad del Aire</h1>
          <h1>Valor</h1>
        </div>
        <div class="flex flex-col" >
          <h1 class="text-white">Viento</h1>
          <h1>Valor</h1>
        </div>
        <div class="flex flex-col">
          <h1 class="text-white">Humedad</h1>
          <h1>Valor</h1>
        </div>
        <div class="flex flex-col">
          <h1 class="text-white">Visibilidad</h1>
          <h1>Valor</h1>
        </div>
        <div class="flex flex-col">
          <h1 class="text-white">Presión</h1>
          <h1>Valor</h1>
        </div>
        <div class="flex flex-col">
          <h1 class="text-white">Punto de condensación</h1>
          <h1 class="text-white">Valor</h1>
        </div>
    </div>
  </div>
  
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                  Descripcion
                </th>
                <th scope="col" class="px-6 py-3" style="text-align: start;">
                    Temperatura en C°
                </th>
                <th scope="col" class="px-6 py-3" style="text-align: start;">
                    Temperatura en F°
                </th>
                <th scope="col" class="px-6 py-3" style="text-align: start;">
                    Icono
                </th>
            </tr>
        </thead>
        <tbody>
          {% for day in data_clima %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ day.fecha }}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ day.description }}
              </th>
                <td class="px-6 py-4">
                  {{ day.temp }}
                </td>
                <td class="px-6 py-4">
                  {{ day.temp_farenheit }}
                </td>
                <td class="px-6 py-4">
                  <img src="https://api.openweathermap.org/img/w/{{ day.icon }}.png" width="50px"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}

    <!-- <h1>{{temp_farenheit}}°F</h1>
    <h1>{{day}}</h1>
    <h1>{{city}}</h1>
    <h1>{{humidity}}%</h1>
    <h1>{{pressure}}mb</h1>
    <h1>{{fecha}}</h1> -->

<!--
<table>
  <thead>
    <tr>
      <th>Fecha y hora</th>
      <th>Descripción</th>
      <th>Temperatura (°C)</th>
      <th>Temperatura (°F)</th>
      <th>Icono</th>
    </tr>
  </thead>
  <tbody>
    {% for day in data_clima %}
      <tr>
        <td>{{ day.fecha }}</td>
        <td>{{ day.description }}</td>
        <td>{{ day.temp }}°C</td>
        <td>{{ day.temp_farenheit }}°F</td>
        <td><img src="https://api.openweathermap.org/img/w/{{ day.icon }}.png" width="50px"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
-->


