{% extends "base.html" %}

{% block content %}

<div class="flex flex-col items-center justify-center min-h-screen py-2">
  <div class="flex flex-col items-center justify-center w-full flex-1 px-2 md:px-60 text-center">
    <div class="flex flex-col md:flex-row bg-white rounded-2xl shadow-2xl w-full ">
      {#Sign in section#}
      <div class="w-full md:w-3/5">
        <div class="text-left font-bold ">
          <span class=" pl-2 text-blue-700">World</span> Weather
        </div>
        <div class="py-4 md:py-10">
          <h2 class="text-3xl font-bond  text-blue-700">Sign in to Account</h2>
          <div class="border-2 w-10 border-blue-700 inline-block mb-2"></div>
          <div class="flex justify-center my-2">
            <a href="#" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 border-2 border-gray-200 rounded-full p-3 mx-1">
              <img src="https://img.icons8.com/windows/32/null/facebook-f--v1.png"/>
            </a>
            <a href="#" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 border-2 border-gray-200 rounded-full p-3 mx-1">
              <img src="https://img.icons8.com/windows/32/null/linkedin-2.png"/>
            </a>
            <a href="#" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 border-2 border-gray-200 rounded-full p-3 mx-1">
              <img src="https://img.icons8.com/windows/32/null/google-logo.png"/>
            </a>
          </div> {# Social login section#}
          <p class="text-gray-400 my-3">Or use you email account</p>
          {{error}}
          <div class="flex flex-col items-center">
            <div class="bg-gray-100 w-64 p-2 flex items-center mb-3">
              <img src="https://img.icons8.com/windows/32/null/secured-letter--v1.png"  class="text-gray-400 m-2"/>
             <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <input type="email" name="email" id="email" placeholder="email" class="bg-gray-100 outline-none text-sm flex-1"/>
            </div>
            <div class="bg-gray-100 w-64 p-2 flex items-center mb-3">
              <img src="https://img.icons8.com/windows/32/null/lock-2--v1.png" class="text-gray-400 m-2/">
              <input type="password" name="password" id="password" placeholder="password" class="bg-gray-100 outline-none text-sm flex-1"/>
            </div>
            <div class="flex justify-between w-64 mb-5">
              <label class="flex items-center text-xs"><input type="checkbox" name="remember" 
              class="mr-1"/>Remember me </label>
              <a href="#" class="text-xs">Forgot Password</a>
            </div>
            <button type="submit" class="border-2 rounded-full px-12 py-2 inline-block font-semibold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Sign in</button>
             </form>
          </div>
        </div>
      </div>
      {#Sign up section#}
      <div class="w-full md:w-2/5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-tr-2xl rounded-br-2xl py-6 md:py-36 px-12">
        <h2 class="font-Poiret text-3xl font-bold mb-2"> Welcome to World Weather!</h2>
        <div class="border-2 w-10 border-white inline-block mb-2"></div>
        <p class="font-Poiret mb-10"> ¿Not a user? Fill up personal information and Start journey with us.</p>
        <a 
          href="{% url 'register' %}" 
          class="border-2 border-white rounded-full px-12 py-2 inline-block font-semibold hover:bg-white hover:text-blue-700">Sign Up</a>
    </div> 
    </div> 
    
  </div>
</div>

{% endblock content %}