{% extends "base.html" %}

{% block content %}

<div class="flex flex-col items-center justify-center min-h-screen py-20" style="min-height: 100vh;">
  <div class="flex flex-col items-center justify-center w-full flex-1 md:px-20 text-center" style="padding-left: 10rem; padding-right: 10rem;">
    <div class="flex flex-col md:flex-row bg-white rounded-2xl shadow-2xl w-full">
      <!-- Sign in section -->
      <div class="w-full md:w-3/5">
        <div class="text-left font-bold ">
          <span class="text-[#698269]">World</span> Weather
        </div>
        <div class="py-4 md:py-10">
          <h2 class="text-3xl font-bond  text-[#698269]">Sign in to Account</h2>
          <div class="border-2 w-10 border-[#698269] inline-block mb-2"></div>
          <div class="flex justify-center my-2">
            <a href="#" class="border-2 border-gray-200 rounded-full p-3 mx-1">
              <i class="fa-brands fa-facebook-f fa-xs"></i>
            </a>
            <a href="#" class="border-2 border-gray-200 rounded-full p-3 mx-1">
              <i class="fa-brands fa-linkedin-in fa-xs"></i>
            </a>
            <a href="#" class="border-2 border-gray-200 rounded-full p-3 mx-1">
              <i class="fa-brands fa-google fa-xs"></i>
            </a>
          </div><!-- Social login section -->
          <p class="text-gray-400 my-3">Or use you email account</p>
          <div class="flex flex-col items-center">
            <div class="bg-gray-100 w-64 p-2 flex items-center mb-3">
              <FaRegEnvelope class="text-gray-400 m-2"/>
              <input type="email" name="email" placeholder="email" class="bg-gray-100 outline-none text-sm flex-1"/>
            </div>
            <div class="bg-gray-100 w-64 p-2 flex items-center mb-3">
              <MdLockOutline class="text-gray-400 m-2"/>
              <input type="password" name="password" placeholder="password" class="bg-gray-100 outline-none text-sm flex-1"/>
            </div>
            <div class="flex justify-between w-64 mb-5">
              <label class="flex items-center text-xs"><input type="checkbox" name="remember" 
              class="mr-1"/>Remember me </label>
              <a href="#" class="text-xs">Forgot Password</a>
            </div>
            <a 
          href="#" 
          class="border-2 bg-[#698269] text-white rounded-full px-12 py-2 inline-block font-semibold hover:bg-[#698269] hover:text-white">Sign in</a>
          </div>
        </div>
      </div>
      <!-- Sign up section --> 
      <div class="w-full md:w-2/5 text-white rounded-tr-2xl rounded-br-2xl py-6 md:py-36 px-12" style="padding-top: 2rem;border-radius: 1rem;background: linear-gradient(180deg, rgba(33,79,109,1) 0%, rgba(8,35,61,1) 100%);padding: 2rem;">
        <h2 class="font-Poiret text-3xl font-bold mb-2"> Welcome to World Weather !</h2>
        <div class="border-2 w-10 border-white inline-block mb-2"></div>
        <p class='font-Poiret mb-10'> Fill up personal information and Start journey with us.</p>
        <a 
          href="{% url 'register' %}" 
          class="rounded-full px-12 py-2 inline-block font-semibold hover:bg-white hover:text-[#698269]" style="border-width: 2px; border-radius: 9999px; border-color: rgb(255 255 255 / var(--tw-border-opacity)); border: --tw-border-opacity: 1;">Sign Up</a>
    </div> 
    </div> 
    
  </div>
</div>
{% endblock content %}